# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/
.ENV/

# Ignore Jupyter Notebook output files
*.nbconvert.ipynb

# Ignore VS Code settings
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk

# Ignore PDF files
*.pdf

# Ignore other temporary files
*.tmp
*.temp
*.bak
*.swp
.DS_Store
